{% extends "base.html" %}
{% block content %}

<h2>Students</h2>

<!-- Open add-student form -->
<a class="nav-link" href="/add">Add Student</a>

<table border="1">
<tr><th>ID</th><th>Name</th><th>Age</th><th>Action</th></tr>

{% for s in students %}
<tr>
<!-- Access row fields from DB query -->
<td>{{ s.id }}</td>
<td>{{ s.name }}</td>
<td>{{ s.age }}</td>
<td>
<!-- Edit and delete action links -->
<a href="/edit/{{ s.id }}">Edit</a>
<a href="/delete/{{ s.id }}">Delete</a>
</td>
</tr>
{% endfor %}

</table>

{% endblock %}